.signInContainer {
    .signInForm {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .formGroup {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            label {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 10px;
                color: #828282;
            }

            input {
                height: 35px;
                border: none;
                outline: none;
                background: #f3f1f1;
            }

            
        }
        .buttonGroup {
                .registrationButton {
                    border: none;
                    background-color: transparent;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 12px;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    text-align: center;
                    color: #2f80ed;
                    cursor: pointer;
                }
                .submitButton{
                    width: 124px;
                    height: 34px;
                    box-shadow: 2px 0 4px 0 #2f80ed;
                    background-color: #2f80ed;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }
    }
}